packages/
paket-files/
obj/
src/obj/
test/obj/
.vs/*
.paket/load/
.fake/
.ionide/
node_modules/
Reports/*
logs/*
deploy/*
src/Server/bin/
tests/ServerTests/bin/
tests/ServerTests/obj/
tests/UiTests/bin/
tests/UiTests/obj/
src/Client/deploy/
.fake
.ionide
src/Client/output

